# Logistic Regression Example

Simple demonstration of the Logistic Regression model

## 01 Import libraries and models

In [1]:
# Importing useful libraries
import numpy as np
#import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression # logistig regression model

## 00 Prepare data

In [17]:
# Importing the dataset
df_credit_card = pd.read_csv('./datasets/credit_card_default.csv', index_col="ID")
# Cange column names to lower case
df_credit_card.columns = df_credit_card.columns.str.lower()
# Scale column
#df_credit_card['pay_amt1'] = df_credit_card['pay_amt1']/1000
df_credit_card['pay_amt1'] = df_credit_card['pay_amt1']

In [18]:
df_credit_card.head()

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

### Building a Logistic Regression model with two features: pay_atm1 and Age
 
Positive class: Default(==1)
$$Pr(default=1 | X) = \frac{1}{1+exp(-Z)}$$
Where: 
$$Z = w_0 + w_1 payatm1 + w_2 Age$$

In [20]:
X = df_credit_card[['pay_amt1','age']]
y = df_credit_card['default payment next month']

## 02 Create an instance of a prediction model

In [26]:
logreg = LogisticRegression()

## 03 Train model

In [27]:
logreg.fit(X, y)

LogisticRegression()

## 04 Evaluate model

In [28]:
# Print coefficients and intercept for the model
print(logreg.intercept_)
print(logreg.coef_)

[-0.00082359]
[[-4.51100791e-05 -2.85860620e-02]]

$$Pr(default=1 | X) = \frac{1}{1+exp(-Z)}$$

Where: 

$$Z = -1.2602 -0.036586 \times payatm1 + 0.004441 \times Age$$

In [29]:
# Create function for Z and probability
def Z(pay_amt1, age):
    return logreg.intercept_[0] + logreg.coef_[0][0]*pay_amt1 + logreg.coef_[0][1]*age

def prob_default(pay_amt1, age):
    z = Z(pay_amt1, age) 
    return 1/(1 + np.exp(-z))

## Predicting probability of default

In [30]:
prob_default(pay_amt1=0, age=40)

0.24153796589840626